@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body, html {
        @apply bg-lightGreen-500
    }
}

@layer components {
    .title {
        @apply text-5xl xl:text-6xl drop-shadow-xl font-young_serif text-cream
    }
    .section-heading {
        @apply font-young_serif sm:text-3xl text-2xl font-bold uppercase drop-shadow-md
    }
    .gradient-section {
        @apply bg-gradient-radial from-[#4d5c3f] via-lightGreen-500 to-darkGreen-600 w-full
    }
    .reverse-gradient-section {
        @apply bg-gradient-radial from-darkGreen-600 to-lightGreen-500 w-full
    }
    .body-text {
        @apply font-josefinsans md:text-2xl text-xl font-medium
    }
    .column:nth-child(2) {
        @apply border-cream md:border-l-[1px] md:border-t-transparent 
        border-t-[1px] max-md:border-l-transparent 
    }
    .column {
        @apply sm:p-8 p-6 flex flex-col text-cream items-center gap-5 sm:gap-10
    }
    .skill-item {
        @apply relative flex justify-center hover:translate-y-1 transition-all duration-100 ease-linear
    }
    .skill-logo {
        @apply w-[100px] h-[100px] max-w-[4rem] sm:max-w-[5rem] min-w-[3rem] drop-shadow-lg object-contain brightness-110
    }
    .heading-with-icon {
        @apply flex items-center justify-center gap-2 mb-5 drop-shadow-sm
    }
    .tooltip {
        @apply absolute top-[-2rem] p-2 min-w-max scale-0
        bg-lightGreen-500/80 text-cream text-center rounded-xl font-bold text-sm shadow-sm
    }
    .project-card {
        @apply bg-gradient-radial from-accentOrange-200 to-accentOrange-100 rounded-xl
        text-xl sm:text-2xl font-young_serif text-white drop-shadow-lg shadow-inner
        hover:cursor-pointer hover:scale-x-105 transition-all duration-200
        flex flex-col justify-center gap-2 p-5 sm:p-8
    }
    .tag {
        @apply text-sm font-josefinsans bg-lightGreen-400/90 rounded-full px-2 py-1 text-cream
    }
    .input {
        @apply rounded-xl px-4 py-2 font-normal drop-shadow-sm shadow-inner w-full font-young_serif
    }
}

@keyframes bounce {
    0% {transform: translateY(0);} 
   100% {transform: translateY(-30px);} 
}
nav {
    transition: transform 200ms ease-in-out;
}
nav > * {
    user-select: none;
    /* filter: drop-shadow(0px 0px 4px hsl(0, 0%, 25%)); */
}
.logo {
    flex-shrink: 2;
}
.nav-item {
    transition: letter-spacing 500ms;
    flex-shrink: 1;
    font-size: 1.3rem;
}
.nav-item:hover {
    letter-spacing: 0.1em;
    transition: letter-spacing 400ms;
}
.down-arrow {
    animation: 700ms infinite alternate bounce;
    filter: drop-shadow(0px 0px 4px hsl(0, 0%, 70%));
}
.contact-button {
    filter: drop-shadow(0px 5px 8px hsl(27, 17%, 10%));
}
.contact-button:hover {
    filter: drop-shadow(0px 0px 25px #c16a4d);
}
.send-button:hover {
    filter: drop-shadow(0px 0px 10px #3f4b34);
}
.social-link:hover {
    filter: drop-shadow(0px 0px 25px #3f4b34);
}