@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,400;1,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-darkestBlue
    }
}

@keyframes animateNavLink {
    from {
        letter-spacing: normal;
    }
    to {
        letter-spacing: 0.1em;
    }
}

.nav-item:hover {
    animation: 0.8s infinite alternate animateNavLink;
}
