@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body, html {
        @apply bg-darkestBrown
    }
}

@keyframes animateNavLink {
    from {
        letter-spacing: normal;
    }
    to {
        letter-spacing: 0.1em;
    }
}

@keyframes bounce {
    0% {transform: translateY(0);} 
   100% {transform: translateY(-30px);} 
}

.nav-item:hover {
    animation: 0.8s infinite alternate animateNavLink;
}

.down-arrow {
    animation: 1s infinite alternate bounce;
}
